.editable-text {
    cursor: pointer;
}

h2 {
    text-align: center;
    color: brown;
    border-style: groove;
    border-radius: 15px;
    width: 30%;
    margin: .2em auto .2em;
    padding: .1em;

}

h1 {
    text-align: center;
    text-decoration: underline;
    border-style: solid;
    border-radius: 20px;
    border-color:darkslategray;
    padding: .2em;
    width: 30%;
    text-align: center;
    margin: auto;
}
